@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

/* 
    #efe09d - light yellow
    #649763 - light green kinda
    #5d7e58 - green
    #376648 - darker green
    #1e4735 - dark green
*/

header{
    width: 100%;
}
.header-top-bar {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #5d7e58;
}
.header-nav {
    display: flex;
    height: 100px;
}
.logo-header{
    position: absolute;
    top: 27px;
    left: 30px;
    font-size: 16px;
    width: 50px;
}
.header-title {
    display: flex;
    align-items: center;
    font-size: 50px;
    font-style: italic;
    color: #e82127;
    background-color: #efe09d;
    height: 100%;
    padding-left: 100px;
    padding-right: 50px;
    border-radius: 0px 48px 48px 0px;
}
.nav-list {
    display: flex;
    justify-content: right;
    align-items: center;
    flex: 1;
    list-style-type: none;
    width: 500px;
    margin-right: 8px;
}
.nav-item {
    margin-right: 20px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.3s;
}
.nav-icon a img{
    width: 50px;
    margin-right: 50px;
    margin-left: 18px;
    background-color: #efe09d;
    border-radius: 10px;
}
.nav-item:hover{
    transition: 0.3s;
    background-color: #1e4735;
}
.nav-icon:hover{
    animation-name: galleryHover;
    animation-duration: 0.85s;
    animation-timing-function: ease-in-out;
}
.nav-item a{
    color: #efe09d;
    text-decoration: none;
}
.bg-header {
    background-image: url(imgs/carheader-front.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 80vh;
}
.bg-caption-wrapper-1{
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.bg-header-text{
    font-weight: 700;
    padding: 18px 18px 15px 15px;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    background-color: #efe09d;
    border-top-right-radius: 30px;
}
.bg-header-text a{
    color: #e82127;
}


/* main */
.main-info{
    background-color: #5d7e58;
}

/* about */
#about{
    display: flex;
    align-items: center;
    height: 75vh;
    background-color: #5d7e58;
}
.left {
    width: 60vw;
    margin-left: 30px;
}
.right{
    position: relative;
}
.about-header-wrapper{
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}
.about-header {
    font-size: 60px;
    margin-top: 15px;
    color: #efe09d;
}
.about-header-shadow{
    position: absolute;
    top: -45px;
    left: 200px;
    opacity: 0.2;
    color: #efe09d;
    font-size: 75px;
    transform: skew(-20deg);
    font-weight: 300;
}
.about-text{
    font-size: 25px;
    line-height: 55px;
    padding: 0px 100px;
    text-align: center;
}
.right-img {
    width: 1000px;
    transform: scaleX(-1);
    border-radius: 0px 50px 50px 0px;
}
.bg-caption-wrapper-2{
    position: absolute;
    bottom: 3px;
    right: 0px;
}
.bg-about-text{
    border-top-left-radius: 30px;
    font-weight: 700;
    padding: 18px 20px 15px 20px;
    font-size: 12px;
    font-style: italic;
    text-decoration: underline;
    background-color: #efe09d;
}
.bg-about-text a{
    color: #e82127;
}

/* first start */
#start{
    height: 70vh;
    background-image: #5d7e58;
    padding-left: 50px;
}
.start-header-wrapper{
    position: relative;
}
.start-header {
    font-size: 60px;
    padding-top: 15px;
    color: #efe09d;
    margin-bottom: 25px;
    margin-left: 12.5%;
}
.start-header-shadow{
    position: absolute;
    top: -32px;
    left: 175px;
    opacity: 0.2;
    color: #efe09d;
    font-size: 75px;
    transform: skew(10deg);
}
.top-start-text-wrapper{
    padding-left: 118px;
    padding-right: 118px;
}
.top-start-text {
    font-size: 25px;
    line-height: 55px;
    float: right;
    text-align: justify;
}
.top-start-text img{
    float: right;
    width: 700px;
    margin: 0px 60px;
    border-radius: 20px;
}


/* gallery */
#gallery{
    height: fit-content;
    margin-top: 175px;
    padding-top: 175px;
    padding-bottom: 50px;
}
.gallery-header-wrapper {
    position: relative;
    background-color: #5d7e58;
}
.gallery-header-shadow {
    position: absolute;
    top: -70px;
    left: 680px;
    opacity: 0.2;
    color: #efe09d;
    font-size: 105px;
    transform: skew(-15deg);
    font-weight: 300;
    word-spacing: -25px;
}
.gallery-header {
    font-size: 90px;
    color: #efe09d;
    font-weight: 900;
    text-align: center;
}


/* gallery-images */
.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.gallery-wrapper img {
    width: 49%;
    height: 560px;
    border-radius: 20px;
    margin: 5px;
}
.gallery-item {
    width: 49%;
    height: 600px;
    filter: brightness(0.5);
    transition: 0.2s ease-in-out;
}
.gallery-item:hover{
    filter: brightness(1);
}
.side-cars {
    position: absolute;
    top: 0px;
    left: 765px;
}
.side-cars img{
    width: 300px;
}
.left-car {
    position: relative;
    left: -300px;
}
.right-car {
    position: relative;
    transform: scaleX(-1);
    right: -300px;
}

/* footer */

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #1e4735;
}
.left-f, .right-f {
    display: flex;
    align-items: center;
}
.right-f{
    margin-right: 35px;
}
.left-f{
    margin-left: 35px;
}
.credit-text {
    color: #000;
}
.tesla-link{
    color: #efe09d;
    text-decoration-color: #e82127;
    text-decoration-thickness: 3px;
}
.name-wrapper{
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #e82127;
    text-decoration-thickness: 3px;
}


/* animations */
@keyframes galleryHover{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(7deg);
    }
    50%{
        transform: rotate(-10deg);
    }
    75%{
        transform: rotate(7deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


/* adaptives */

@media(max-width: 1920px){
    /* about section */
    #about{
        padding-top: 100px;
    }
    .about-header-shadow {
        left: 130px;
        top: -45px;
    }
    .about-text {
        font-size: 22px;
        line-height: 45px;
    }

    /* start section */
    #start{
        padding-top: 75px;
    }
    .start-header-shadow {
        left: 142px;
        top: -30px;
    }
    .top-start-text {
        font-size: 22px;
        line-height: 45px;
    }

    /* gallery section */
    #gallery{
        padding-top: 100px;
    }
    .gallery-header-shadow {
        left: 550px;
        top: -65px;
    }
    .gallery-header {
        font-size: 85px;
    }
    .side-cars {
        left: 646px;
    }
}

@media(max-width: 1200px){
    /* about section */
    #about{
        padding-top: 100px;
    }
    .about-header-shadow {
        left: 130px;
        top: -45px;
    }
    .about-text {
        font-size: 20px;
        line-height: 36px;
    }
    #about .left{
        width: 60%;
    }
    #about .right{
        width: 40%;
    }
    .right-img{
        width: 470px;
        transform: scaleX(-1);
        border-radius: 0px 50px 50px 0px;
    }

    /* start section */
    #start{
        padding-top: 75px;
    }
    .start-header-shadow {
        left: 85px;
        top: -30px;
        font-size: 70px;
    }
    .top-start-text {
        font-size: 20px;
        line-height: 36px;
    }
    .top-start-text img {
        width: 475px;
    }

    /* gallery section */
    #gallery{
        padding-top: 300px;
    }
    .gallery-header-shadow {
        left: 200px;
        top: -67px;
    }
    .gallery-header {
        font-size: 85px;
    }
    .side-cars {
        left: 335px;
        top: 15px;
    }
    .side-cars .left-car{
        width: 250px;
    }
    .side-cars .right-car{
        width: 250px;
    }
}

@media(max-width: 1080px){
    /* nav bar section */
    .header-title {
        width: 230px;
        font-size: 40px;
        padding-left: 75px;
    }
    .logo-header {
        width: 40px;
        top: 32px;
        left: 20px;
    }

    /* about section */
    #about{
        padding-top: 200px;
        height: 60vh;
    }
    .about-header-wrapper{
        margin: 0px;
    }
    .about-header-shadow {
        left: 30px;
        top: -42px;
        font-size: 60px;
    }
    .about-header{
        font-size: 50px;
    }
    .about-text {
        font-size: 18px;
        line-height: 40px;
        padding: 30px;
    }
    #about .left{
        width: 60%;
    }
    #about .right{
        width: 40%;
    }
    .right-img{
        width: 375px;
        transform: scaleX(-1);
        border-radius: 0px 50px 50px 0px;
    }
    
    /* start section */
    #start{
        padding-top: 185px;
    }
    .start-header-shadow {
        left: 75px;
        top: -25px;
        font-size: 65px;
    }
    .top-start-text {
        font-size: 18px;
        line-height: 45px;
        text-align: center;
    }
    .top-start-text img{
        margin: 0px auto;
        margin-bottom: 25px;
    }
    
    /* gallery section */

    /* header section */
    .gallery-header-wrapper{
        display: inline-block;
        margin-top: 150px;
        width: 100%;
    }
    .gallery-header-shadow {
        left: 100px;
        top: -65px;
        font-size: 100px;
    }
    .gallery-header {
        font-size: 75px;
    }
    .side-cars {
        left: 315px;
        top: 20px;
    }
    .side-cars .left-car{
        width: 150px;
    }
    .side-cars .right-car{
        width: 150px;
    }

    /* images section */
    .gallery-wrapper {
        width: 100%;
        padding: 0px;
        margin-top: 50px;
    }
    .gallery-wrapper .gallery-item {
        width: 47%;
        height: 300px;
    }
}